<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/djcool0261/notes</RegistryUrl>
    <UserName>djcool0261/notes</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6a9dd3ed-b2ae-4b93-badd-552b949c6616</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
    <AutoGenerateImageTag>true</AutoGenerateImageTag>
  </PropertyGroup>
</Project>